<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/nav.ejs') %>
    <h2>List "<%= body.name %> "</h2>
    <ul class="shopping-list">
        <% body.prodList.forEach(prod => { %>
            <li class="<%= prod.prodChecked ? 'checked' : '' %>">
                <p class="product-name"><%= prod.prodName %></p><p class="quantity"><%= prod.prodQuan %></p>
            </li>
        <% }); %> 
    </ul>
    <button id="delete">Delete</button>
        

    <%- include('../partials/footer.ejs') %>
</body>
<script>
    document.getElementById('delete').addEventListener( e => {
        fetch(`/mylists/list/${body._id}`, {
            headers: { 'Content-Type': 'application/json' },
            method: 'DELETE',

        })
    })
</script>
</html>