<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/nav.ejs') %>
    <h2>List "<%= body.name %> "</h2>
    <ul class="shopping-list">
        <% body.prodList.forEach(prod => { %>
            <li data-element="prod" data-id="<%= prod._id %>" class="<%= prod.prodChecked ? 'checked' : '' %>">
                <p data-element="prod" data-id="<%= prod._id %>" class="product-name"><%= prod.prodName %></p><p class="quantity"><%= prod.prodQuan %></p>
            </li>
        <% }); %> 
    </ul>
    <button id="delete">Delete</button>
    <span id="id" style="display: none;"><%= body._id %></span>
        

    <%- include('../partials/footer.ejs') %>
</body>
<script>
    const endpointId = document.getElementById('id').innerText;
    const endpoint = `/mylists/list/${endpointId}`;
    document.getElementById('delete').addEventListener('click', e => {
        fetch(endpoint, {
            method: 'DELETE'
        }).then(response => {
            response.json().then(data => {
                window.location.href = data.redirect;
            }).catch(err => {
                console.log(err);
            })
        }).catch(err => {
            console.log(err);
        })
    });

    document.addEventListener('click', event => {
        if (event.target.getAttribute('data-element') === 'prod') {
            const id = event.target.getAttribute('data-id');
            fetch(endpoint, {
                headers: {'Content-Type': 'application/json'},
                method: 'PUT',
                body: JSON.stringify({ id })
            }).then(response =>{
                response.json().then(data => {
                    window.location.href = data.redirect;
                }).catch(err => {
                    console.log(err);
                })
            }).catch(err => {
                console.log(err);
            })
        }
    })
</script>
</html>