<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/nav.ejs') %>
    <h2>List "<%= body.name %> "</h2>
    <ul class="shopping-list">
        <% body.prodList.forEach(prod => { %>
            <li class="<%= prod.prodChecked ? 'checked' : '' %>">
                <p class="product-name"><%= prod.prodName %></p><p class="quantity"><%= prod.prodQuan %></p>
            </li>
        <% }); %> 
        
    </ul>
        

    <%- include('../partials/footer.ejs') %>
</body>
</html>